My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "303e26df-40c8-404e-8ad5-a02bff879589",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -16
      ],
      "id": "eec3d135-45fd-4fd3-bb55-1e70977cada2",
      "name": "Webhook",
      "webhookId": "303e26df-40c8-404e-8ad5-a02bff879589"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.events[0].message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -16,
        -16
      ],
      "id": "9c7ea3c8-cf1c-485e-8ccb-0b491c865175",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -144,
        256
      ],
      "id": "146da0d8-354f-4e1f-a664-f7688f716a5c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "23u9s06tP88ONfun",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        48,
        288
      ],
      "id": "7e9bc3b8-6a57-4dba-a158-b07c1d911e6d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer /HFfSLt5LkgleEQ38ceEJILWKOfQXWnkaabb5oTvLd1WPpsRyUZw7328/EbgB5cK4Yxb7txRkJxg0Fj6Wx1DnPMUmW3lbO7Xi96oDOwV8CopdnwA7cC3qA3C/vtYMyUI1qB81DAt9+XqvXs+W/02XQdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $json.output }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -16
      ],
      "id": "808f12a1-1521-4c05-8b36-4ff8a98d0e0c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1e-0cQd6KrECkWnhmNA4Egq-fzMWfbIEjRDkoBomNU7E",
          "mode": "list",
          "cachedResultName": "stock",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e-0cQd6KrECkWnhmNA4Egq-fzMWfbIEjRDkoBomNU7E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e-0cQd6KrECkWnhmNA4Egq-fzMWfbIEjRDkoBomNU7E/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        288,
        240
      ],
      "id": "b13964dc-c807-450e-a2f6-3b6968f0f682",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h68VNy7WexI75YUX",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "50ee0d00-7972-4aad-afde-02417c9e3cfb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec0c1a0daa3ac77e2eee779167d661d827cf4c85490a23a32598b377a50b4ebf"
  },
  "id": "z54rXyWMVieN6ldP",
  "tags": []
}